__pycache__/
*.pyc
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
dist/
build/
*.egg-info/
.DS_Store

main-repo/
*.mid
.vscode/settings.json
.ai-ignore
css.sesi
nice-music.py
static/archive/style.css
static/archive/index.html
instructions.txt
